[core]
  ; autocrlf = input
  safecrlf = warn
  excludesfile = ~/.gitignore
  pager = less -r
  ignorecase = false
[github]
  user = jaychsu
[branch]
  autosetuprebase = always
[color]
  ui = auto
[user]
  name = Jaych Su
  email = hi@jaych.su
[push]
  default = matching
[rerere]
  enabled = true
[alias]
  a = add
  aa = add .
  ap = add -p
  au = add -u
  amr = am --resolved
  b = branch
  clonr = clone --recursive
  cb = checkout -b
  co = checkout
  cp = cherry-pick
  ci = commit
  cia = commit --amend
  cim = commit -m
  ch = cherry -v
  d = diff -b
  dw = diff -b --word-diff=color
  dc = diff -b --cached
  dcw = diff -b --cached --word-diff=color
  ds = diff -b --stat
  log = log --follow
  l = log -p
  lg = log --oneline --decorate --graph
  lgg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  tree2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  today = !git log --since=\"12 hours ago\" --author=\"`git config --get user.name`\" --reverse --pretty=format:%s
  ps = log --pretty=oneline origin..master # summary of what you're going to push
  w = whatchanged # like "git log", but include the diffs
  wc = whatchanged -p
  mg = merge
  mgnf = merge --no-ff
  mgs = merge --squash
  mgup = merge --no-ff upstream/master
  pr = pull-request
  pl = pull --rebase
  po = push origin
  pu = push upstream
  pg = push github
  pb = push bitbucket
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rmc = rm -r --cached
  rt = reset
  rth = reset --hard
  s = status
  show = show -b
  showw = show -b --word-diff=color
  sm = submodule
  st = stash
  stl = stash list
  stp = stash pop
  sts = stash show -p
  stp1 = stash pop stash@{1}
  stp2 = stash pop stash@{2}
  stp3 = stash pop stash@{3}
  stp4 = stash pop stash@{4}
  stp5 = stash pop stash@{5}
  sts1 = stash show stash@{1} -p
  sts2 = stash show stash@{2} -p
  sts3 = stash show stash@{3} -p
  sts4 = stash show stash@{4} -p
  sts5 = stash show stash@{5} -p
[credential]
  helper = osxkeychain
