# Sysytem Files
.DS_Store
tags
doc/tags-*
*.dcu
ubuntu-*.log

# Project Files
doc.local

# Sublime Files
*.sublime-project
*.sublime-workspace
sftp-config*.json

# Visual Code Files
.vscode

# Pyenv
.python-version

# Vagrant
.vagrant
